h1,h2,h3,h4,h5 {
margin-bottom:10px;
font-size:16px;
}

#content ul.front-page {
margin-left:30px;
margin-bottom:10px;
}

#content ul.front-page li {
list-style:square;
}

dl	{
	margin:0 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
pre {
	font: 11px Monaco, monospace;
	line-height: 1.5;
	margin-bottom: 1.5em;
}
code {
	font: 11px Monaco, monospace;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
ins {
	text-decoration: none;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}


/*

Adapt the following for use in your Child Themes when using
different font-sizes and line-heights

body, input, textarea {
    font: --px Arial,sans-serif;
    line-height:--;
}
p, ul, ol, dd, pre {
    margin-bottom:--em;
}
pre, code {
	font:--px Monaco, monospace;
	line-height:--;
}

All other styles can be overridden--or ignored!--in Child Theme stylesheets

*/